.app {
  max-width: 90%;
  margin: 0 auto;
}

.item-name {
  padding-left: 10px;
  font-size: 1.5em;
}

.item-complete {
  text-decoration: line-through;
}

.category-button {
  width: 70px;
}

form {
  padding: 0em 0em 1em 0em;
}
